body {
    background-color: black;
}
.navbar{
    padding-bottom: 0rem;
    margin-bottom: 1rem;
}

#movies img{
    width: 50%;

}

.img-container {
    text-align: center;
    margin: 20px 0;
}

.img-container img {
    width: 20%;
    border-radius: 30px;
}


.tile {
    display: block !important;
    color: cyan;
}

.hero.is-primary .title {
    color: cyan !important;
}

#movie-search-submit, .hero.is-primary {
    background-color: darkviolet !important;
}

.hero.is-dark {
    background-color: black !important;
}

footer {
    text-align: center;
    background-color: gray;
    margin-top: 30px;
}